.containerMessageBot{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

/*
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;


width: 100%;
    display: flex;
    flex-wrap: nowrap;


*/