html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 background: linear-gradient(to right, #36ddd2, #577fc9, #4747e4) ;

  }
/**

*/ 


.globalContainer{
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: center;

}

.botContainer{

  height: 100%;
  width: 45%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: [row1-start] 15% [row1-end] 70% [row2-end] 15% [row3-end];
  grid-template-areas: 
  "userbar userbar userbar userbar"
  "userdash userdash userdash userdash"
  "usermessage usermessage usermessage usermessage";
}

.userBar{
  grid-area: userbar;
}
.userDash{
  grid-area: userdash;
}
.userMessage{
  grid-area: usermessage;
}
input:focus{
  outline: none;
}


@media (max-width: 575.98px) { 
 
  .botContainer{
    width: 98%;
  }
  
}